{% extends 'news/base.html' %}

{% block title %}Parolni tiklash{% endblock title %}

{% block content %}

    <h1>Parolni Tiklash</h1>
    <p>Parolingizni tiklash uchun quyidagi formani tuldiring</p>
    {% if validlink %}

        <p>Iltimos yangi parolni 2 marotaba kiriting:</p>
        <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Parolni almashtirish</button>
        </form>
    {% else %}
        <p>Link o'zgartirishda xatolik yuz berdi. Qayta urinib ko'ring.</p>

    {% endif %}

{% endblock %}