{% extends 'news/base.html' %}
{% load static %}

{% block title %}Texnologiya Xabarlar{% endblock title %}

{% block content %}

    	<div class="container">
            <div class="row">
                {% for news in texnologiya_yangiliklar %}
                <div class="col-sm-6 col-6">
                    <a href="{{ news.get_absolute_url }}" class="table-hover">
                        <img class="col-sm-6 col-6" src="{{ news.image.url }}" style="width: 50%;" alt="{{ news.title }}">
                        <h2 class="h3">{{ news.title }}</h2>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>



{% endblock content %}