{% extends 'news/base.html' %}
{% load static %}

{% block title %}Xorij Xabarlar{% endblock title %}

{% block content %}

    	<div class="container">
            <div class="row">
                {% for news in xorij_yangiliklar %}
                <div class="col-sm-6 col-6">
                    <a href="{{ news.get_absolute_url }}">
                        <img class="col-sm-6 col-6" src="{{ news.image.url }}" style="width: 50%;" alt="{{ news.title }}">
                        <h2 class="h3">{{ news.title }}</h2>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>



{% endblock content %}